<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreria</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <header>
      <div class="interior">
        <a href="#" class="logo" target="blank"><img src="img/libros.png" alt="Logo"></a>
        <nav class="navegacion">
          <ul>
            <li><a href="#" target="blank">Inicio</a></li>
            <li class="submenu">
                <a href="" target="blank">Libros</a>
                <ul class="hijos">
                    <li><a href="libroRegistrar.html">Registar</a></li>
                    <li><a href="libroModificar.html">Modificar</a></li>
                    <li><a href="">alta</a></li>
                    <li><a href="">baja</a></li>
                   
                  </ul>
            </li>
            <li class="submenu">
              <a href="" target="blank">Autor</a>
              <ul class="hijos">
                <li><a href="autorRegistrar.html">Registar</a></li>
                <li><a href="autorRegistrar.html">Modificar</a></li>
                <li><a href="">alta</a></li>
                <li><a href="">baja</a></li>
                
              </ul>
            </li>
            <li class="submenu" >
                <a href="" target="blank">Editorial</a>
                <ul class="hijos">
                    <li><a href="editorialRegistrar.html">Registar</a></li>
                    <li><a href="autorModificar.html">Modificar</a></li>
                    <li><a href="">alta</a></li>
                    <li><a href="">baja</a></li>
                    
                  </ul>
            </li>
            <li><a href="" target="blank">Login</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <h1>inicio</h1>
  </body>
</html>