<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreria</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <header>
        <div class="interior">
          <a href="#" class="logo" target="blank"><img src="img/libros.png" alt="Logo"></a>
          <nav class="navegacion">
            <ul>
              <li><a href="index.html" target="blank">Inicio</a></li>
              <li class="submenu">
                  <a href="" target="blank">Libros</a>
                  <ul class="hijos">
                      <li><a href="libroRegistrar.html">Registar</a></li>
                      <li><a href="libroModificar.html">Modificar</a></li>
                      <li><a href="">alta</a></li>
                      <li><a href="">baja</a></li>
                     
                    </ul>
              </li>
              <li class="submenu">
                <a href="" target="blank">Autores</a>
                <ul class="hijos">
                  <li><a href="autorRegistrar.html">Registar</a></li>
                  <li><a href="autorRegistrar.html">Modificar</a></li>
                  <li><a href="">alta</a></li>
                  <li><a href="">baja</a></li>
                  
                </ul>
              </li>
              <li class="submenu" >
                  <a href="" target="blank">Editorial</a>
                  <ul class="hijos">
                      <li><a href="editorialRegistrar.html">Registar</a></li>
                      <li><a href="editorialModificar.html">Modificar</a></li>
                      <li><a href="">alta</a></li>
                      <li><a href="">baja</a></li>
                      
                    </ul>
              </li>
              <li><a href="" target="blank">Login</a></li>
            </ul>
          </nav>
        </div>
      </header>
    
      <h1>Libros Modificar</h1>
      <form class="formulario">
        <h1>Modificar</h1>
        <div class="contenedor">
            <div class="input-contenedor">
                <input type="text" placeholder="ISBN">
            </div>
        </div>
        <div class="contenedor">
            <div class="input-contenedor">
                <input type="text" placeholder="TITULO">
            </div>
        </div>
        <div class="contenedor">
            <div class="input-contenedor">
                <input type="text" placeholder="AÑO">
            </div>
        </div>
        <div class="contenedor">
            <div class="input-contenedor">
                <input type="number" placeholder="EJEMPLARES">
            </div>
        </div>
        <div class="contenedor">
            <div class="input-contenedor">
                <input type="text" placeholder="ALTA">
            </div>
        </div>
        <div class="contenedor">
            <div class="input-contenedor">
                <input type="text" placeholder="AUTOR">
            </div>
        </div>
        <div class="contenedor">
            <div class="input-contenedor">
                <input type="text" placeholder="EDITORIAL">
            </div>
        </div>
        <div class="contenedor">
            <div class="input-contenedor">
                <input type="text" placeholder="IMAGEN">
            </div>
        </div>
        <div>
            <input type="submit" value="Registrar" class="button">
            <p>¿El libro no se encuentra resitrado?, quiere <a class="link" href="libroRegistrar.html">Registarlo</a></p>
        </div>
        
    </form>
    <footer>
        <p class="copy">&copy;2022 Todos los derechos reservados</p>
    </footer>
</body>
</html>